.App {
  text-align: center;
  color:rgb(18, 17, 17);
}




.App-header {
  background-color: #1455d6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(21, 21, 21);
}

.App-link {
  color: #292e30;
}

