.App {
  text-align: center;
  background-color: #83b3ee;
}

.taskList {
  margin:0vh 5vh 0vh 10vh;
  font-family:cursive;
  font-size: medium;
  background-color: #3278cc;
  border-radius: 2vh;
  
}

.addTask {
  background-color: rgb(53, 53, 53);
  margin:10vh 5vh 0vh 10vh;
  padding: 5vh;
  border-radius: 2vh;
}





.App-header {
  background-color: #1455d6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(21, 21, 21);
}

.App-link {
  color: #292e30;
}

